# Bot Configuration
TOKEN=bot_token_here
CLIENT_ID=bot_client_id
PREFIX=.

# Lavalink Configuration
#LAVALINK_HOST=lavalinkv4.serenetia.com
#LAVALINK_PORT=443
#LAVALINK_PASSWORD=https://seretia.link/discord
#LAVALINK_SECURE=true

LAVALINK_HOST=lava-v4.ajieblogs.eu.org
LAVALINK_PORT=443
LAVALINK_PASSWORD=https://dsc.gg/ajidevserver
LAVALINK_SECURE=true

# Spotify Configuration
SPOTIFY_CLIENT_ID=a43f177165ed430aaba4275f0e06993a
SPOTIFY_CLIENT_SECRET=2148fd5a10d04c759facb25801767b8f

# Database Configuration
MONGO_URI=mongodb+srv://AeroX:AeroX@aerox.rv3nxmb.mongodb.net/?retryWrites=true&w=majority&appName=AeroX